<section class="hero">
  <div class="hero-background">
    <img src="/assets/images/hero_background_image.jpg" alt="Background Image">
  </div>
  <div class="hero-overlay">
    <img src="/assets/images/CAD_overlay_image.png" alt="CAD Drawing Overlay">
  </div>
  <div class="hero-text">
    <p class="pt-6 ml-3 mr-3 has-text-warning is-size-3">Turning Designs into Reality</p>
  </div>
</section>
