<nav class="navbar is-primary">
    <!-- logo / brand -->
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <figure class="image pl-3 pt-3">
                <img src="/assets/images/favicon.svg" alt="Site logo" class="logo-img">
            </figure>
        </a>
        <a class="navbar-burger" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="navbar-menu" id="nav-links">
        <div class="navbar-end">
            {% for link in navigationLinks %}
                {% if link.children %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" aria-expanded="false">
                            <span class="icon-text">
                                {% if link.icon %}
                                    <span class="icon has-text-warning">
                                        <i class="{{ link.icon }}" aria-hidden="true"></i>
                                    </span>
                                {% endif %}
                                <span>{{ link.text }}</span>
                            </span>
                        </a>
                        <div class="navbar-dropdown">
                            {% for child in link.children %}
                                <a href="{{ child.url }}" class="navbar-item">{{ child.text }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <a href="{{ link.url }}" class="navbar-item">
                        <span class="icon-text">
                            {% if link.icon %}
                                <span class="icon has-text-warning">
                                    <i class="{{ link.icon }}" aria-hidden="true"></i>
                                </span>
                            {% endif %}
                            <span>{{ link.text }}</span>
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</nav>
