---
layout: "base"
title: "Home"
---

{% include "_hero.njk" %}

<section class="section introduction-section">
  <div class="columns">
    <div class="column is-two-thirds">
      {{ content | safe }}
    </div>
  </div>
</section>

{% include "partials/_showcase.njk" %}
{% include "partials/_CTA.njk" %}
{% include "partials/_testimonials.njk" %}
