---
layout: "base"
---

{% set images = images.about %}  <!-- Correctly set images for the About page -->

<section class="section">
  <div class="content">
    <div class="columns is-multiline">
      <!-- Reduce the left and right columns' width -->
      <div class="column is-one-tenth"></div> <!-- Smaller left margin -->
      <div class="column is-four-fifths"> <!-- Expand the content width -->
        <h1 class="title has-text-info">{{ title }}</h1>

        <!-- Loop through sections -->
        {% for section in sections %}
          <div class="section">
            <div class="flex-container">
              <!-- Use images from JSON -->
              {% set imagePath = images[section.title | slugify] %}

              <!-- Image on the left -->
              {% if imagePath %}
                <figure class="image-container">
                  <img src="{{ imagePath }}" alt="{{ section.title }} Image">
                </figure>
              {% endif %}

              <!-- Text on the right -->
              <div class="text-container">
                <h2 class="subtitle">{{ section.title }}</h2>
                <p>{{ section.content }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        
      </div>
      <div class="column is-one-tenth"></div> <!-- Smaller right margin -->
    </div>
  </div>
</section>
