---
layout: "base"
---

{% set images = images.about %}

<section class="section">
    <div class="content">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
                <h1 class="title has-text-info">{{ title }}</h1>
                {{ content | safe }}
                {% if title == "About" %}
                    <!-- Loop through sections -->
                    {% for section in sections %}
                    <div class="section">
                        <h2 class="subtitle">{{ section.title }}</h2>

                        <!-- Use images from JSON -->
                        {% set imagePath = images[section.title | slugify] %}
                        {% if imagePath %}
                        <figure class="image">
                            <img src="{{ imagePath }}" alt="{{ section.title }} Image">
                        </figure>
                        {% endif %}

                        <!-- Section Content -->
                        <p>{{ section.content }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>
