<section class="box project-description mb-6 pl-2 pr-2">
  <div class="container">
    <h2 class="title is-3 has-text-info mb-5">Example Enquiry</h2>

    <div class="project-description">
      <h3 class="title is-5 has-text-primary">Enquiry:</h3>
        <p><em>
            We are about to embark on restoring our church hall. It needs extensive work to bring it up to the modern standards and expectations of a public building.
        </em></p>
        <p><em>
            For example, it needs double glazing and insulation adding to it, as well as a modern heating system. Furthermore, it would be desirable to have an extension to the building to create space for a better kitchen and improved toilet facilities.
        </em></p>
        <p><em>
            There are also general maintenance jobs needing to be done and an upgrade to the fire exit required. What aspects of this restoration might you be able to help us with?
        </em></p>
    </div>

    <div class="project-description">
      <h3 class="title is-5 has-text-primary">Response:</h3>
      <ol class="mb-2 pl-4">
        <li><strong>Upgrading the Building Fabric:</strong> I can prepare technical specifications and schedules of work for the installation of double glazing, insulation, and heating - ensuring all upgrades comply with current regulations and performance standards.</li>
        <li><strong>Designing and Specifying Extensions:</strong> I can design the proposed kitchen and toilet extension, including drawings, specifications, and planning documentation for submission to your local authority.</li>
        <li><strong>Fire Exit and Safety Compliance:</strong> I can assess and specify required improvements to fire escape provision, ensuring compliance with Health & Safety and Building Control standards.</li>
        <li><strong>General Repairs and Maintenance:</strong> I can itemise and specify all relevant maintenance works so they can be properly planned and costed alongside the main upgrade works.</li>
        <li><strong>Project Coordination and Documentation:</strong> I offer full Contract Administration—including preparing Preliminaries, Specification, and Schedule of Work, overseeing tenders, and managing works to completion.</li>
        <li><strong>Committee Liaison and Approvals:</strong> I’m happy to meet with your committee to refine the project brief and provide a detailed proposal with service and fee breakdowns.</li>
      </ol>

      <p class="is-italic">
        In short, I can guide your project from concept to completion - bringing the technical expertise and oversight needed for a successful, compliant, and well-coordinated restoration.
      </p>
      <br>
      <p><strong>Warm regards,</strong><br><strong>John Walton</strong></p>
    </div>
  </div>
</section>
