{% set images = images["featured-project"] %}

<section class="featured-project mt-6 mb-6">
  <div class="container">
    <h2 class="title is-3 has-text-centered">Featured Project</h2>
    <p class="subtitle has-text-centered">A unique riverside extension project.</p>

    <div class="slider-container">
      <div class="slider-overlay">
        <img src="{{ images[1] }}" alt="After the extension from the front">
      </div>
        <img src="{{ images[0] }}" alt="Before the extension from the front">
      <div class="slider-handle"></div>
    </div>
    
    <div class="slider-container">
      <div class="slider-overlay">
      <img src="{{ images[3] }}" alt="After the extension from the side">
      </div>
        <img src="{{ images[2] }}" alt="Before the extension from the side">
      <div class="slider-handle"></div>
    </div>
    
    <div class="project-description pt-6 pb-6">
      <p class="pb-2">This was an interesting and challenging project; the client wanted to use the space between the house and the river for an additional living area without losing the view of the river from the dwelling.</p>
      <p class="pb-2">Following consultation with the client and the planning department at Stroud District Council, I proposed an extension that would fill the space, incorporate the existing brick outhouse, and utilize the retaining wall separating the river from the property. The extension has a window overlooking the river.</p>
      <p class="pb-2">A lightweight construction using a highly insulated timber frame and reinforced raft was designed to avoid the need for deep foundations, which would have required piles and ground beams.</p>
      <p class="pb-2">The river is classified as salmonoid, so the project required a permit from the Environment Agency, and all scaffolding had to be completed within a four-week period between June and September to avoid disrupting the trout breeding population.</p>
    </div>
  </div>
</section>

