<section class="mt-6 mb-6">
  <div class="container">
    <h2 class="title is-3 has-text-centered">How We Can Help You</h2>
    
    <div class="project-description pt-1 pb-6">
        <ul class="ml-6">
            <li>Tailored extension/refurbishment designs ready for planning and building regulations.</li>
            <li>Clear specification writing (contract docs, NBS) and reliable cost estimates.</li>
            <li>Professional CDM advice and health & safety risk management.</li>
        </ul>
    </div>
  </div>
</section>